@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Prata&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin : 0;
    text-decoration: none;
    list-style: none;
    color: var(--black);
    object-fit: cover;
    transition: all 0.3s ease;
}

:root{
    --black : black;
    --grey : #F1F1F1;
    --lightgrey : #F7F7F7;
    --grey-font : #7A7A7A;
    --grey-border: #69727D;
}

a, p{
    font-family: "Open Sans", sans-serif;
}

.open{
    font-family: "Open Sans", sans-serif;
}

h1, h2{
    font-size: 52px;
    font-weight: 400;
}

h3{
    font-size: 20px;
    font-weight: 400;
}

h1, h2, h3, .prata{
    font-family: "Prata", serif;
}

.roboto{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    background-color: var(--grey);
    padding : 5px 6px;
    border-radius: 12px;
}

img{
    border-radius: 12px;
}

#discover, #specialties, #story section{
    max-width: 1440px;
    margin : 0 auto
}

.btn{
    background-color: var(--black);
    color : white; 
    font-family: "Roboto", sans-serif;
    padding : 12px 22px;
    border-radius : 3px; 
    font-size: 15px;
    border : none;
    cursor: pointer;

    &:hover{
        background-color: var(--grey-font);
        color : var(--lightgrey); 
    }
}

/* header */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img{
    width : 180px;
}

header ul{
    display: flex;
    gap : 15px; 
    margin-right : 15px
}

header ul a:hover{
    font-weight: 600;
}

/* discover */
#discover{
    margin-bottom : 110px
}

#discover div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding : 55px 30px; 
    gap : 160px
}

#discover img{
    margin :  0 auto; 
    height: 380px;
    width : 91%; 
    display: block;
}

/* specialties */
#specialties{
    margin-bottom : 100px
}

#specialties img{
    width : 100%;
    border-radius: 12px 12px 0 0;
}

#specialties div{
    display: flex;
    gap : 15px
}

#specialties > p, #specialties h2{
    text-align: center;
}

#specialties h2{
    margin : 15px 0 25px 0
}

#specialties > p{
    margin-bottom : 10px; 
    padding : 0 390px
}

#specialties a{
    box-shadow: 0 0 10px 0 #00000033;
    border-radius: 12px;

    &:hover{
        transform: scale(1.03);
        filter: opacity(90%);
    }
}

#specialties a p, h3{
    padding-left : 22px; 
}

h3{
    padding-bottom: 4px;
    padding-top : 12px
}

.prata{
    font-size: 24px;
    padding-top:15px; 
    padding-bottom : 9px;
}

/* story */

#story{
    background-color: var(--lightgrey);
    padding-top : 170px; 
    padding-bottom : 100px;
}

#story section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap : 15px
}

#story h2{
    margin-top : 21px; 
    margin-bottom : 25px;
}

#story p{
    width : fit-content
}

#story a{
    margin-top : 33px; 
    display: block;
    width: fit-content;
}

#story img{
    height : 380px;
    width : 100%
}

/* contact */

#contact{
    max-width : 560px; 
    margin : 0 auto; 
    padding-top : 100px;
    padding-bottom : 100px;
}

#contact p{
    padding-top : 15px;
    padding-bottom : 45px;
}

#contact form{
    display: flex;
    flex-direction: column;
    gap : 25px;
    max-width: 470px;
    margin : 0 auto;    
}

#contact input{
    padding:  10px 0 10px 12px;

    &::placeholder{
        font-family: "Roboto", sans-serif;
        font-size: 15px;
    }
}

#contact textarea{
    padding:  10px 0 45px 12px;
    color : var(--grey-font); 
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

#contact textarea, #contact input{
    border : 1px solid var(--grey-border); 
    border-radius: 3px;
}


#contact button{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}


/* footer */
footer{
    display: flex;
    justify-content: space-between;
    padding : 0 5px 
}

footer ul{
    display: flex;
    gap : 15px;
}